<div class="container">
    <section class="row bg-header mt-2 pl-2 pt-2">
        <h2>Game Hooks</h2>
    </section>
    <section class="row p-4 bg-hook">
        <h2>

            {{gameHook}}

        </h2>
    </section>
    <section class="row mt-3">
        <button class="btn btn-danger text-white" (click)="randomGH()">Outro Game Hook</button>
    </section>
    <section class="row mt-3 fontes">
        <p>Fontes:<br>
            <a href="https://www.reddit.com/r/DnD/comments/9adid0/50_adventure_hooks_to_steal_for_your_game/">50 Adventure Hooks To Steal For Your Game
            </a><br>
            <a href="https://www.reddit.com/r/rpg/comments/7nmpm3/100_side_quest_hooks/">100 Side Quest Hooks
            </a>
        </p>
    </section>
</div>