<!-- <div *ngFor="let member of partySelected">
    <h2>{{member.name}}</h2>

    <p>
        {{member.bonusInit}}
    </p>

</div> -->
<div class="content  mx-auto">
    <div class="row bg-header mt-2 pl-2 pt-2">
        <h2>Initiative Tracker</h2>
    </div>
    <div class="row">
        <select *ngIf="!selectedParty" (change)="selectChangeHandler($event)" class="custom-select" name="" id="tipoDados">
            <option value="">Escolha uma Party</option>
            <option value="0">Fahen</option>   
            <option value="1">Nyaris</option>   
            <option value="2">Criar Grupo</option>   
            </select>
        <section *ngIf="addNewCharInput" class="d-flex flex-row align-items-center text-light">
            <label for="">Adicionar personagem</label>
            <input class="ml-3 mr-3" type="text" [(ngModel)]="addNewChar" placeholder="Nome">
            <div class="btn-rpg " (click)="addChar()">
                <i class="fas fa-plus"></i>a
            </div>
        </section>
    </div>
</div>
<ul>
    <li class="text-white" *ngFor="let member of selectedParty">
        {{member.name}},{{member.bonusInit}},{{member.diceInit}},{{member.totalInit}}
    </li>
</ul>
{{selectedParty}}
<!-- <mat-table>
    
</mat-table> -->