<div class="container">
    <div class="row bg-header mt-2 pl-2 pt-2">
        <h2>Dice Roller</h2>
    </div>
    <div class="row">
        <div class="col-3 col-sm text-center" (click)="addDice(4)">
            <img src="assets/d4.svg" title="D4" alt="D4">
            <span class="badge badge-secondary">D4</span>
        </div>
        <div class="col-3 col-sm text-center" (click)="addDice(6)">
            <img src="assets/d6.svg" title="D6" alt="D6">
            <span class="badge badge-secondary">D6</span>
        </div>
        <div class="col-3 col-sm text-center" (click)="addDice(8)">
            <img src="assets/d8.svg" title="D8" alt="D8">
            <span class="badge badge-secondary">D8</span>
        </div>
        <div class="col-3 col-sm text-center" (click)="addDice(10)">
            <img src="assets/d10.svg" title="D10" alt="D10">
            <span class="badge badge-secondary">D10</span>
        </div>
        <div class="col-3 col-sm text-center" (click)="addDice(12)">
            <img src="assets/d12.svg" title="D12" alt="D12">
            <span class="badge badge-secondary">D12</span>
        </div>
        <div class="col-3 col-sm text-center" (click)="addDice(20)">
            <img src="assets/d20.svg" title="D20" alt="D20">
            <span class="badge badge-secondary">D20</span>
        </div>
        <div class="col-3 col-sm text-center" (click)="addDice(100)">
            <img src="assets/d100.svg" title="Custom" alt="Custom">
            <span class="badge badge-secondary">D100</span>
        </div>
    </div>
    <div class="row">
        <button class="btn col mr-2 btn-danger" (click)="rollDiceResults()">
            Rolar Dados <i class="fas fa-dice"></i>
        </button>
        <button class="btn col ml-2 btn-danger" (click)="resetHistory()">
            Limpar Histórico <i class="fas fa-backspace"></i>
        </button>
    </div>

    <div class="bg-grunge-black text-light">
        <input type="number" min="0" [(ngModel)]="addThis.quantity">
        <label>dados de</label>
        <input type="number" min="0" [(ngModel)]="addThis.side">
        <p>lados +</p>
        <input type="number" min="0" [(ngModel)]="addThis.bonus">
        <p>bonus</p>
        <button class="btn btn-danger" (click)="addDice(addThis.side,addThis.quantity,addThis.bonus)"> + </button>
    </div>

    <!-- <div class="row mb-3">
        <div class="col-12" *ngFor="let dices of dicesToRoll">
            <div class="d-flex align-items-end text-light">
                <div class="input-group mt-3 ml-3 mr-3">
                  
                    <input type="text" [(ngModel)]="dices.quantity" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mt-3 ml-3 mr-3">
              
                    <input type="text" [(ngModel)]="dices.side" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mt-3 ml-3 mr-3">
               
                    <input type="text" [(ngModel)]="dices.bonus" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
    </div> -->
</div>
<p class="text-light">
    {{addThis | json}}
</p>
<p class="text-light">
    {{dicesToRoll | json}}
</p>