<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 p-2 m-0" *ngFor="let card of cards">
            <img class="w-100" [src]="card.imagem" [alt]="card.titulo">
            <h6 class="text-white">{{card.titulo}}</h6>
            <p class="text-white"><small>{{card.descricao}}</small></p>
        </div>
    </div>

    <!-- <div class="d-flex flex-column flex-sm-row align-content-center flex-wrap mb-3">
        <div class="p-2 bd-highlight bg-light" *ngFor="let card of cards">
            <a href="">
                <img class="p-0 m-0" [src]="card.imagem" [alt]="card.titulo">
            </a>
        </div>

    </div> -->

</div>